.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Fredoka", sans-serif;
    background-color: rgb(22, 160, 133);
    color: rgb(22, 160, 133);
}

#quote-box {
    width: 450px;
    padding: 40px 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#quote-box .quote-text {
    align-self: flex-start;
    font-size: 2em;
}

#quote-box .quote-author {
    align-self: flex-end;
    margin: 20px 0 0;
    font-size: 1.2em;
}

#quote-box .buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 0;
}

#quote-box .social-button {
    color: white;
    background-color: rgb(22, 160, 133);
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}

#quote-box #new-quote {
    font-family: "Fredoka", sans-serif;
    background-color: rgb(22, 160, 133);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
